#left-menu{
	margin-top: 121px;
	float: left;
	position: relative;
	width: 10%;
}

#menu-pannel{
	height: 100%;
	width: 80%;
	float: right;
}

#toc{
	position: fixed;
	width: 18%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li {
	list-style-type:none;
}