
#toc {
	position: fixed;
	top: 210px;
	font-size: calc(.6vw + .3em);
	width: 18%;
}
#toc a{
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: #2493f3;
    transition: color .2s ease-out
}

li {
	list-style-type:none;
}
